# =========================
# Python virtual environments
# =========================
venv/
.venv/
env/
.env/

# =========================
# Environment variables / secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Local data
# =========================
.data/
data/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db